// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.divimg {
  text-align: center;  
}  
        
      .header, .footer {
        text-align: center;  
        padding: 0.5em;
        color: white;
        background-color: gray;
        clear: left;  
      }
    
      .header {
        margin-bottom: 40px;    
      } 
      
      .footer {
        margin-top: 40px;    
      }  
      
      main {
        margin-top: 40px; 
        margin-bottom: 40px;  
      }  
      
      .container {
        width: 100%;
      } 
        
      .lefthand, .righthand {
        font-size: 1.2em;  
        font-weight: 100;  
      }  
      
      .lefthand {
        width: 920px;
        float: left;
        padding: 10px;	 
      }  
        
      .righthand {  
        padding: 10px;	
        margin-left: 930px; 
      }      
